{% extends 'base.html' %}

<!-- Styles block -->

{% block styles%} 
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

<!-- Content Block -->
{% block content %}
<body>
  <br/>
  <br/>
  <h1 class="text-capitalize text-center">TOP HEADLINES</h1>
  <div class="container">
    <div class="card-columns">
      {% for headlines in headlines %}

      <div class="flex-container">
        <div class="row row-cols-1 row-cols-3">
          <div class="col mb-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="{{headlines.image}}"
                alt="Headlines Image"
              />
              <div class="card-body">
                <h5 class="card-title">{{headlines.author}}</h5>
                <p class="card-text">{{headlines.description}}</p>
                <a href="{{headlines.url}}">
                  <p class="card-text">View More</p>
                </a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Publish date:{{headlines.time}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</body>

{% endblock %}
