 {% extends 'base.html' %}

 <!-- Content Block -->
 {% block content %}

 <div class="col-12">
    <h1 class="text-capitalize text-center"> HEADLINE NEWS </h3>
    <div class="container">
      <div class="card-columns">
        {% for headlines in headlines %}

        <div class="card">
          <img class="card" src="{{headlines.image}}" alt="Card image cap" size="100px180">
          <div class="card-body">
            <h5 class="card-title">{{headlines.author}}</h5>
            <p class="card-text">{{headlines.description}}</p>
            <a href="{{headlines.url}}">
              <p class="card-text">View More</p>
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Publish date:{{headlines.time}}</small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


 {% endblock %}