 {% extends 'base.html' %}

 <!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

 <!-- Content Block -->
 {% block content %}

 <div class="container-fluid">
    <h1 class="text-capitalize text-center"> TOP HEADLINES </h3>
    
      <div class="card-columns">
        
        {% for headlines in headlines %}

        <div class= "row row-cols-1 row-cols-md-2" >
          <div class="card-deck col mb-4" >
            <div class="card" >
             <img class="card-img-top" src="{{headlines.image}}" alt="card image top">
          <div class="card-body">
            <h5 class="card-title">{{headlines.author}}</h5>
            <p class="card-text">{{headlines.description}}</p>
            <a href="{{headlines.url}}">
              <p class="card-text">View More</p>
            </a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Publish date:{{headlines.time}}</small>
          </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>


 {% endblock %}